= semantic_form_for [@cliente] do |form|
 
  = form.input :nome, :label => 'Nome' 
  = form.input :identidade, :label => 'Identidade'
  = form.input :cpfcnpj, :label => 'Cpfcnpj'
  = form.submit 'Salvar'

