= semantic_form_for [@produto] do |form|
 
  = form.input :nome, :label => 'Nome' 
  = form.input :fabricante, :label => 'Fabricante'
  = form.input :datafabricacao, :label => 'Datafabricacao'
  = form.input :preco, :label => 'Preco'

  = form.submit 'Salvar'


