<h1>Lista de Produtos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Fabricante</th>
    <th>Datafabricacao</th>
    <th>Preco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%= produto.nome %></td>
    <td><%= produto.fabricante %></td>
    <td><%= produto.datafabricacao %></td>
    <td><%= produto.preco %></td>
    <td><%= link_to 'Mostrar', produto %></td>
    <td><%= link_to 'ALterar', edit_produto_path(produto) %></td>
    <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Quer realmente excluir este produto?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo produto', new_produto_path %>
