= semantic_form_for [@vendedor] do |form|
 
  = form.input :nome, :label => 'Nome' 
  = form.input :identidade, :label => 'Identidade'
  = form.input :cpfcnpj, :label => 'Cpfcnpj'
  = form.input :rua, :label => 'Rua'
  = form.input :bairro, :label => 'Bairro'
  = form.input :cidade, :label => 'Cidade'
  = form.input :estado, :label => 'Estado'
  = form.input :telefone1, :label => 'Telefone1'
  = form.input :telefone2, :label => 'Telefone2'

  = form.submit 'Salvar'


