<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @vendedor.nome %>
</p>

<p>
  <b>Identidade:</b>
  <%= @vendedor.identidade %>
</p>

<p>
  <b>Cpfcnpj:</b>
  <%= @vendedor.cpfcnpj %>
</p>

<p>
  <b>Rua:</b>
  <%= @vendedor.rua %>
</p>

<p>
  <b>Bairro:</b>
  <%= @vendedor.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @vendedor.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @vendedor.estado %>
</p>

<p>
  <b>Telefone1:</b>
  <%= @vendedor.telefone1 %>
</p>

<p>
  <b>Telefone2:</b>
  <%= @vendedor.telefone2 %>
</p>


<%= link_to 'Edit', edit_vendedor_path(@vendedor) %> |
<%= link_to 'Back', vendedors_path %>
